@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #121417;
  font-family: "Overpass", "Arial", sans-serif;
  height: 100%;
}
body #container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #252d37;
  background: linear-gradient(180deg, rgb(37, 45, 55) 8%, rgb(25, 29, 34) 95%);
  max-width: 430px;
  min-width: 360px;
  width: 90%;
  height: 450px;
  border-radius: 40px;
  padding: 40px 35px;
}
body #container h1 {
  color: #fff;
  font-size: 31px;
  margin: 20px 0 10px 0;
}
body #container p {
  line-height: 1.5;
  font-size: 15px;
  color: #959eac;
}
body #container #rating-card {
  position: relative;
  transition: 0.2s;
}
body #container #rating-card .star-img {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(149, 158, 172, 0.1);
}
body #container #rating-card .star-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body #container #rating-card #numberContainer {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}
body #container #rating-card #numberContainer span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(149, 158, 172, 0.1);
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease-out;
  color: #959eac;
  font-size: 17px;
}
body #container #rating-card #numberContainer span:hover {
  cursor: pointer;
  background: #959eac;
  color: #fff;
}
body #container #rating-card #numberContainer span:active {
  background: #fb7413;
}
body #container #rating-card #numberContainer .selected {
  background: #fb7413;
  color: #fff;
}
body #container #rating-card button {
  position: relative;
  background: #fb7413;
  border: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 0.4s ease-out;
}
body #container #rating-card button:hover {
  cursor: pointer;
  background: #fff;
  color: #fb7413;
}
body #container #submitted-card {
  position: relative;
  display: none;
  flex-direction: column;
  margin: 25px 0 0 0;
  transition: 0.2s;
}
body #container #submitted-card .submitted-img {
  margin: 0 auto;
}
body #container #submitted-card h1,
body #container #submitted-card p {
  text-align: center;
}
body #container #submitted-card #submitted-rating {
  background: #22303c;
  color: #fb7413;
  line-height: 15px;
  padding: 8px 15px;
  border-radius: 15px;
  width: fit-content;
  margin: 20px auto;
}
body #modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
body #modal-overlay #modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: #252d37;
  background: linear-gradient(180deg, rgb(37, 45, 55) 8%, rgb(26, 32, 39) 88%);
  max-width: 380px;
  min-width: 360px;
  width: 90%;
  height: 200px;
  padding: 50px 20px;
  border-radius: 20px;
}
body #modal-overlay #modal #close {
  position: absolute;
  top: 20px;
  right: 20px;
}
body #modal-overlay #modal #close svg {
  fill: #fff;
}
body #modal-overlay #modal #close svg:hover {
  cursor: pointer;
}
body #modal-overlay #modal h2 {
  color: #fff;
  margin: 0 0 20px 0;
}
body #modal-overlay #modal p {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
